@use "../lib/shared";
@use "~@johv/sass-labmix" as *;

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap');

.main {
  color: #333;

  display: flex;
  flex-direction: column;
  align-items: center;

  row-gap: 1em;

  a {
    color: lch(45, 30, shared.$branding-hue);
    font-weight: 500;
    text-decoration: none;

    &:hover {
      color: lch(55, 30, shared.$branding-hue);
    }

    &:active {
      color: lch(30, 30, shared.$branding-hue);
    }
  }

  .header {
    padding: 0.5em 1em;
    align-self: stretch;

    background-color: #FF9DB4;
    border-bottom: 1px solid lch(60, 30, shared.$branding-hue);
    box-shadow: 0 -3px 6px -3px lch(60, 30, shared.$branding-hue) inset;

    .logoContainer {
      font-size: 1.5em;

      display: flex;
      align-items: center;

      padding: 0 0.5em;

      .logo {
        height: 1em;
        width: 1em;
        margin-right: 0.25em;
      }

      .appName {
        cursor: default;

        font-size: 1em;
        font-weight: normal;

        display: flex;
        align-items: center;
        text-align: center;

        color: #773F57;
        margin: 0;
        
        font-family: "Baloo 2", sans-serif;
        text-transform: uppercase;
      }
    }
  }

  .introduction {
    margin-top: 2em;

    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
    line-height: 150%;
  }

  .introductionSubtitle {
    margin: 0;
    font-size: 1.2em;
    text-align: center;
    line-height: 150%;
  }

  & > p {
    color: #444;
    margin: 0;
    width: 30em;
    line-height: 1.5;
  }
}

.features {
  font-size: 1.1em;

  display: grid;
  padding: 0 2em;
  grid-template: "left midlde right" / 1fr 1fr 1fr;

  .feature {
    padding: 0 1.5em;

    max-width: 25em;
    line-height: 150%;

    hyphens: auto;
    text-align: justify;

    &:not(:last-child) {
      border-right: 1px solid #aaa;
    }
  }
}

.highlightGtd {
  background-color: lch(93, 20, shared.$branding-hue);
}

.highlightStalled {
  background-color: lch(93, 20, shared.$orange-hue);
}

.highlightProject {
  background-color: lch(93, 20, shared.$project-hue);
}

.demoContainer {
  border-radius: 6px;
  border: 1px solid #bd5391;
  box-shadow: 0 6px 6px -6px #926a82;

  display: flex;
  height: 35em;
}
