@import "./fonts.css";

$branding-color: lch(75% 30 350);
$orange-hue: 70;
$green-hue: 135;
$project-hue: 300;

@mixin badge-like($hue) {
  border: 1px solid lch(50% 10 $hue);
  background: linear-gradient(to top, lch(89% 30 $hue), lch(91% 30 $hue));
  color: lch(40% 10 $hue);
  box-shadow: 0 2px 0px -1px lch(87% 30 $hue);
  font-family: 'Roboto Condensed';
}

$border-radius: 3px;
$padding-x: 0.6em;
$padding-y: 0.3em;

@mixin input-hover {
  &:hover, &:focus {
    border-color: #888;
  }
}

@mixin input-border {
  border-radius: $border-radius;
  border: 1px solid #aaa;
}

@mixin input-shadow($size: 3px, $inset: "") {
  box-shadow: 0px $size $size (-$size) #aaa unquote($inset);
}

@mixin input-color {
  color: #555;
}

@mixin input-padding($multiplier: 1) {
  padding: ($padding-y * $multiplier) ($padding-x * $multiplier);
}

@mixin reset-button {
  outline: none;
  border: none;
  background: transparent;
  color: inherit;
  cursor: pointer;
  padding: 0;
  font: inherit;
}

@mixin border-between($border) {
  &:not(:first-child) {
    border-top: $border;
  }
}
