@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,500;1,400;1,500&display=swap";

@import "node_modules/sass-planifolia/sass/math";
@import "node_modules/sass-planifolia/sass/contrast";
@import "node_modules/sass-planifolia/sass/color";

$branding-hue: 350deg;
$red-hue: 30deg;
$orange-hue: 70deg;
$green-hue: 135deg;
$project-hue: 300deg;

$branding-color: lch(75, 30, $branding-hue);

@mixin badge-like($hue) {
  border: 1px solid lch(50, 10, $hue);
  background: linear-gradient(to top, lch(89, 30, $hue), lch(91, 30, $hue));
  color: lch(40, 10, $hue);
  box-shadow: 0 2px 0px -1px lch(87, 30, $hue);
  font-family: 'Roboto Condensed';
}

$border-radius: 3px;
$padding-x: 0.6em;
$padding-y: 0.3em;

@mixin input-hover {
  &:hover, &:focus {
    border-color: #888;
  }
}

@mixin input-border {
  border-radius: $border-radius;
  border: 1px solid #aaa;
}

@mixin input-shadow($size: 3px, $inset: "") {
  box-shadow: 0px $size $size (-$size) #aaa unquote($inset);
}

@mixin input-color {
  color: #555;
  &::placeholder { color: #ccc; }
}

@mixin input-padding($multiplier: 1) {
  padding: ($padding-y * $multiplier) ($padding-x * $multiplier);
}

@mixin reset-button {
  outline: none;
  border: none;
  background: transparent;
  color: inherit;
  cursor: default;
  padding: 0;
  font: inherit;
}

@mixin border-between($border) {
  &:not(:first-child) {
    border-top: $border;
  }
}

@mixin button-background-container {
  background-color: #00000010;
  border-radius: 3px;
}

@mixin button-text {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
  font-weight: normal;
  text-align: center;
}

@mixin button-press-transform {
  transition: transform 50ms ease-out;

  &:active {
    transform: translateY(3px);
  }
}

@mixin button-background-grey {
  background: linear-gradient(to top, #f0f0f0, #f4f4f4);

  &:active {
    background: linear-gradient(to top, #ededed, #f0f0f0);
  }
}

@mixin button-border-grey {
  border: 1px solid #aaa;
  &:hover {
    border-color: #666;
  }
}

@mixin button-color($hue) {
  border: 1px solid lch(55, 30, $hue);
  background: linear-gradient(
    to bottom,
    lch(82, 30, $hue),
    lch(78, 30, $hue)
  );
  color: lch(40, 30, $hue);
  box-shadow: 0 3px 3px -3px lch(60, 30, $hue);

  &:hover {
    border-color: lch(30, 30, $hue);
  }
}

@mixin text-field-color($hue) {
  border: 1px solid lch(55, 30, $hue);
  background: lch(84, 30, $hue);
  color: lch(40, 30, $hue);
  box-shadow: 0 3px 3px -3px lch(60, 30, $hue) inset;

  &::placeholder {
    color: lch(65, 30, $hue);
  }

  &:hover {
    border-color: lch(30, 30, $hue);
  }

  &:focus {
    border-color: lch(30, 10, $hue);
    background: lch(94, 10, $hue);

    color: lch(40, 10, $hue);
    
    &::placeholder {
      color: lch(80, 10, $hue);
    }
  }
}

@mixin reset-input {
  outline: none;
  border: none;
  box-shadow: none;
  background: none;
  padding: 0;
  margin: 0;
  font: inherit;
}
