@use "./shared";

:global(:root) {
  font-family: sans-serif;

  body {
    background-color: #fcfcfc;
    margin: 0;
  }

  :global(#root) {
    display: grid;
    height: 100vh;
  }
}

.outerContainer {
  display: grid;
  grid: "top-bar top-bar" 3em "sidebar main" 1fr / 18em 1fr;

  .topBar {
    grid-area: top-bar;
    background-color: shared.$branding-color;
    border-bottom: 1px solid #00000040;
  }

  .sidebar {
    grid-area: sidebar;
    background-color: #f0f0f0;
    border-right: 1px solid #00000020;

    h1 {
      font-family: "Roboto Condensed", sans-serif;
      font-weight: normal;
      margin: 0;
      padding-top: 2em;
      padding-left: 0.9rem;
      padding-bottom: 0.5em;
      color: #888;

      text-transform: uppercase;
      letter-spacing: 0.2ex;
      word-spacing: 0.6ex;
      font-size: 0.8em;
      user-select: none;
    }
  }

  .innerContainer {
    padding: 1em;
    grid-area: main;

    display: grid;
    grid: "left right" 1fr / 1fr 18em;
    column-gap: 1em;

    .left {
      box-sizing: border-box;
      grid-area: left;
      display: flex;
      flex-direction: column;
      row-gap: 1em;
      align-items: flex-start;
      overflow: auto;
    }

    .right {
      box-sizing: border-box;
      grid-area: right;
      display: grid;
    }
  }
}

.filterSelector {
  display: flex;
  flex-direction: column;

  & *:first-child > button, & > button:first-child {
    border-top: 1px solid #c0c0c0;
    border-top-left-radius: 3px;
  }

  & *:last-child > button, & > button:last-child {
    border-bottom-left-radius: 3px;
  }

  button {
    @include shared.reset-button;
    @include shared.input-padding(1.5);
    @include shared.input-color;
    font-family: "Roboto", sans-serif;

    display: flex;
    align-items: center;

    cursor: default;
    text-align: left;

    color: #888;

    background-color: #f8f8f8;

    border-bottom: 1px solid #c0c0c0;

    margin-left: 0.5em;
    border-left: 1px solid #c0c0c0;

    .label {
      display: inline-block;
      transition: margin-left 100ms ease-out;

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &:active .label {
      margin-left: -6px;
    }

    &:hover, &:active {
      background-color: #f4f4f4;
    }

    &.selected {
      color: #666;
      font-weight: 500;
      background-color: #f4f4f4;
      @include shared.input-shadow(3px, inset);

      &:hover {
        background-color: #f2f2f2;
      }

      .label {
        margin-left: 1em;
      }
    }

    .indicator {
      display: flex;
      place-items: center;
      place-content: center;

      opacity: 0.8;

      margin-left: auto;
      font-weight: normal;
      font-size: 0.9em;

      border-radius: 1em;
      height: 1em;
      min-width: 1em;
      padding: 0 0.5ex;

      @include shared.badge-like(shared.$orange-hue);

      .text {
        font-size: 0.9em;
      }

      &.small {
        font-size: 0.7em;
        padding: 0;
      }
    }

    &.selected .indicator {
      opacity: 1;
    }
  }
}

.newTask {
  display: flex;
  column-gap: 0.5em;
}
