@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap');

.task {
  display: inline-flex;
  align-items: center;

  cursor: default;

  .title {
    color: #222;
    font-weight: 500;
  }

  .badge {
    margin-left: 1em;
    display: inline-flex;
    align-items: center;
  }

  &.done {
    .title {
      color: #888;
      text-decoration: line-through;
    }
  }
}

.id {
  cursor: default;

  color: #aaa;
  margin-left: 0.25em;
  font-size: 0.8em;

  &::before {
    content: "#";
  }
}

.checkBox {
  width: 1em;
  height: 1em;

  border-radius: 3px;
  border: 1px solid #aaa;

  &:hover {
    border-color: #888;
  }

  display: flex;
  align-items: center;
  justify-content: center;

  &.checked {
    background-color: #f0f0f0;
    &::after {
      content: "✕";
      color: #888;
      margin-bottom: -0.09em;
      margin-right: -0.02em;
    }
  }
}

@mixin border-between($border) {
  &:not(:first-child) {
    border-top: $border;
  }
}

.taskList {
  font-family: "Roboto";

  background-color: white;

  border: 1px solid #c8c8c8;
  border-radius: 3px;
  border-spacing: 0;
  width: 100%;

  box-shadow: 0 3px 6px -6px #aaa inset;

  tr {
    padding: 0.3em 0.6em;
    min-height: 22px;

    @include border-between(1px solid #c8c8c8);
    display: grid;
    grid-template-columns: max-content 1fr max-content;

    td {
      display: inline-flex;
      align-items: center;
    }

    td:nth-child(1) {
      justify-self: center;
      padding-right: 0.6em;
    }

    td:nth-child(3) {
      justify-self: right;
    }
  }
}