@use "./shared";

.taskEditor {
  display: flex;
  flex-direction: column;

  overflow: auto;

  background-color: #f8f8f8;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  @include shared.input-shadow;
  color: #444;

  .section {
    padding: 0 1em;
    padding-top: 1em;

    background-color: #fafafa;
    border-bottom: 1px solid #c8c8c8;

    &:last-child {
      @include shared.input-shadow;
    }

    .group {
      h1 {
        font-family: "Roboto Condensed", sans-serif;
        text-transform: uppercase;
        padding: 0;
        margin: 0;
        font-weight: normal;
        font-size: 0.8em;
        color: #888;
        letter-spacing: 0.2ex;
        user-select: none;
      }

      padding-bottom: 2em;

      .components {
        display: flex;
        flex-direction: column;

        & > * {
          margin-top: 0.3em;
        }
      }
    }
  }
}

.picker {
  display: flex;
  flex-direction: row;

  @include shared.input-shadow;
  @include shared.button-background-container;

  .option {
    @include shared.reset-button;
    @include shared.button-text;
    @include shared.button-press-transform;

    flex: 1;

    @include shared.input-padding;
    @include shared.input-color;
    @include shared.input-border;

    @include shared.button-background-grey;

    color: #888;

    border-radius: 0;

    box-sizing: border-box;
    margin-right: -1px; // Hide overlapping border

    &:first-child {
      border-radius: 3px 0 0 3px;
    }

    &:last-child {
      border-radius: 0 3px 3px 0;
    }

    &.active {
      background: linear-gradient(to top, #fcfcfc, #f6f6f6);

      color: #666;
      font-weight: 500;
      @include shared.input-shadow(3px, inset);
    }
  }
}

.date {
  @include shared.reset-input;
  font-family: "Roboto", sans-serif;

  @include shared.input-padding;
  @include shared.input-color;
  @include shared.input-shadow(3px, inset);
  @include shared.input-border;
  @include shared.input-hover;

  font-size: 0.9em;

  &::-webkit-calendar-picker-indicator {
    opacity: 0.5;
  }
}