@use "./shared";

.taskEditor {
  display: flex;
  flex-direction: column;
  row-gap: 1em;

  pre {
    margin: 0;
    background-color: #ececec;
    padding: 1em;
    border-radius: 3px;
  }

  background-color: #f8f8f8;
  padding: 1em;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  @include shared.input-shadow;
  color: #444;
}