@use "./shared";

@import "node_modules/sass-planifolia/sass/math";
@import "node_modules/sass-planifolia/sass/contrast";
@import "node_modules/sass-planifolia/sass/color";

$project-hue: shared.$project-hue;

.task {
  display: inline-flex;
  align-items: center;

  cursor: default;

  .title {
    color: #222;
    font-weight: 500;

    white-space: nowrap;
    overflow: auto;
  }

  .badges {
    margin-left: 1ex;
    display: inline-flex;
    align-items: center;
    column-gap: 0.5ex;
  }

  &.done {
    .title {
      color: #888;
      text-decoration: line-through;
    }
  }

  &.paused {
    .title {
      color: #888;
      font-weight: normal;
    }
  }
}

.id {
  cursor: default;

  color: #00000040;
  margin-left: 0.25em;
  font-size: 0.8em;

  &::before {
    content: "#";
  }
}

.checkBox {
  width: 1em;
  height: 1em;

  @include shared.input-border;
  @include shared.input-hover;
  @include shared.input-shadow(1px);
  background: linear-gradient(to top, #f4f4f4, #fdfdfd);

  transition: margin 50ms ease-out;
  &:active {
    box-shadow: none;
    margin-top: 1px;
    margin-bottom: -1px;
    background: linear-gradient(to top, #ededed, #f0f0f0);
  }

  display: flex;
  align-items: center;
  justify-content: center;

  &.checked {
    background: linear-gradient(to top, #ededed, #f0f0f0);
    &::after {
      font-family: 'Roboto';
      font-weight: 500;
      content: "×";
      color: #888;
    }
  }
}

.taskList {
  font-family: "Roboto";

  background-color: white;

  border: 1px solid #c8c8c8;
  border-radius: shared.$border-radius;
  border-spacing: 0;
  width: 100%;

  display: flex;
  flex-direction: column;

  box-sizing: border-box;

  box-shadow: 0 3px 6px -6px #aaa inset;

  .empty {
    text-align: center;
    padding: 1em;
    color: #aaa;
    font-style: italic;
    user-select: none;
  }

  .taskRow.borderBelow {
    border-bottom: 1px solid #c0c0c0;
  }

  .taskRow {
    @include shared.input-padding;
    min-height: 22px;

    display: grid;
    grid-template: "indentation checkbox title id" 1fr / auto max-content 1fr max-content ;

    &:hover {
      background-color: #f8f8f8;
    }

    span {
      display: inline-flex;
      align-items: center;
    }

    .indentationColumn {
      grid-area: indentation;
    }

    .checkboxColumn {
      justify-self: center;
      padding-right: 0.6em;
    }

    .idColumn {
      justify-self: right;
    }

    .titleColumn {
      overflow: hidden;
    }

    &.project .checkboxColumn {
      display: none;
    }

    &.project .titleColumn {
      grid-row-start: checkbox;
      grid-row-end: title;
    }

    &.project {
      background: linear-gradient(
        45deg,
        pf-mix(lch(95, 5, $project-hue), red, 95%),
        lch(97, 5, $project-hue) 1em,
        white 10em
      );

      &:hover {
        background: linear-gradient(
          45deg,
          pf-mix(pf-mix(lch(80, 30, $project-hue), lch(95, 5, $project-hue), 10%), red, 95%),
          pf-mix(lch(80, 30, $project-hue), lch(97, 5, $project-hue), 10%) 1em,
          pf-mix(lch(80, 30, $project-hue), white, 10%) 10em
        );
      }
    }

    &.today {
      background: linear-gradient(
        45deg,
        lch(89, 20, shared.$red-hue),
        lch(95, 20, shared.$red-hue) 1em,
        white 10em
      );

      &:hover {
        background: linear-gradient(
          45deg,
          pf-mix(pf-mix(lch(80, 30, shared.$red-hue), lch(95, 5, shared.$red-hue), 10%), red, 95%),
          pf-mix(lch(80, 30, shared.$red-hue), lch(97, 5, shared.$red-hue), 10%) 1em,
          pf-mix(lch(80, 30, shared.$red-hue), white, 10%) 10em
        );
      }
    }
  }
}

.dropContainer {
  position: relative;

  .dropTarget {
    position: absolute;
    top: -0.5em;
    bottom: -0.5em;
    left: 0;
    right: 0;
  }

  .dropIndicator {
    pointer-events: none;

    position: absolute;
    
    bottom: 0;
    right: 0;

    height: 2px;
    border-radius: 1px;

    background-color: #00000080;
  }

  &:first-child {
    .dropIndicator {
      bottom: -2px;
    }
  }
}

.listSection {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: normal;
  margin: 0;
  color: #888;

  &:not(:first-child) { margin-top: 2em; }
  margin-bottom: 0.5em;

  text-transform: uppercase;
  letter-spacing: 0.2ex;
  word-spacing: 0.6ex;
  font-size: 0.8em;
  user-select: none;
}
