@use "./shared";

@mixin reset-input {
  outline: none;
  border: none;
  box-shadow: none;
  background: none;
  padding: 0;
  margin: 0;
  font: inherit;
}

.textField {
  @include reset-input;
  font-family: "Roboto", sans-serif;

  background-color: #fafafa;
  @include shared.input-padding;
  @include shared.input-color;
  @include shared.input-shadow(3px, inset);
  @include shared.input-border;
  @include shared.input-hover;

  &:focus {
    background-color: #f4f4f4;
  }

  &::placeholder {
    color: #b8b8b8;
  }
}