@use "./shared";

@mixin reset-input {
  outline: none;
  border: none;
  box-shadow: none;
  background: none;
  padding: 0;
  margin: 0;
  font: inherit;
}

.textField {
  @include reset-input;
  font-family: "Roboto", sans-serif;

  @include shared.input-padding;
  @include shared.input-color;
  @include shared.input-shadow(3px, inset);
  @include shared.input-border;
  @include shared.input-hover;

  max-width: 24em;
  width: auto;

  flex: 1;

  font-size: 0.9em;

  &:focus {
    background-color: #fafafa;
  }

  &.magenta {
    @include shared.text-field-color(shared.$branding-hue);
  }
}