@use "./shared";

.button {
  @include shared.reset-button;
  font-family: "Roboto", sans-serif;  
  cursor: default;

  background: linear-gradient(to top, #f0f0f0, #f4f4f4);
  @include shared.input-padding;
  @include shared.input-color;
  @include shared.input-shadow;
  @include shared.input-border;
  @include shared.input-hover;

  transition: transform 50ms ease-out;

  font-size: 0.9em;
  color: #707070;

  &:hover {
    color: #666;
  }

  &:active {
    box-shadow: none;
    transform: translateY(3px);
    background: linear-gradient(to top, #ededed, #f0f0f0);
  }
}

.badge {
  font-family: "Roboto", sans-serif;
  font-size: 0.75em;
  border-radius: 3px;
  box-sizing: border-box;

  padding: 0 (shared.$padding-x * 0.5);

  &.green {
    border: 1px solid #00000040;
    background: #b9daac;
    color: #6c776b;
  }

  &.orange {
    border: 1px solid #00000040;
    background: #f5d197;
    color: #86652b;
  }
}
