@use "./shared";
@use "~@johv/sass-labmix" as m;

:global(:root) {
  font-family: sans-serif;

  body {
    background-color: #fcfcfc;
    margin: 0;
  }

  :global(#root) {
    display: grid;
    height: 100vh;
  }
}

.outerContainer {
  display: grid;
  grid: "top-bar top-bar" auto "sidebar main" 1fr / 18em 1fr;

  &:not(.smallDemo) {
    height: 100vh;
    width: 100vw;
  }

  &.smallDemo {
    flex: 1;
    border-radius: 6px;
  }

  overflow: hidden;

  .topBar {
    grid-area: top-bar;
    background-color: shared.$branding-color;
    border-bottom: 1px solid #00000040;

    display: grid;
    grid: "left middle right" auto / 18em 1fr 18em;

    padding: 0.5em 1em;

    .middle {
      grid-area: middle;
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      column-gap: 0.25em;
    }

    .right {
      grid-area: right;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      column-gap: 0.25em;
    }
  }

  .sidebar {
    grid-area: sidebar;
    background-color: #f0f0f0;
    border-right: 1px solid #00000020;
    
    padding-bottom: 1em;

    .sectionTitle {
      font-family: "Roboto Condensed", sans-serif;
      font-weight: normal;
      margin: 0;
      padding-top: 2em;
      padding-left: 0.9rem;
      padding-bottom: 0.5em;
      color: #888;

      text-transform: uppercase;
      letter-spacing: 0.2ex;
      word-spacing: 0.6ex;
      font-size: 0.8em;
      user-select: none;

      &:hover {
        color: #666;
      }
    }
  }

  .innerContainer {
    min-height: 0;

    grid-area: main;

    display: grid;
    grid: "bar bar" auto "left right" 1fr / 1fr 18em;
    column-gap: 1em;

    padding-bottom: 1em;

    .bar {
      transition: all 150ms;

      &.empty {
        min-height: 0;
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;
        border-color: transparent;
        opacity: 0;
      }

      font-size: 0.95em;
      min-height: 2.40em;

      grid-area: bar;
      box-sizing: border-box;

      border-bottom: 1px solid #00000020;
      background-color: #f4f4f4;

      padding: 0.4em 0.8em;
      display: flex;
      column-gap: 0.4em;

      .filterButtonContainer {
        @include shared.button-background-container;
      }

      .filterButton {
        @include shared.reset-button;

        padding: 0.10em 0.30em;
        border-radius: 3px;
        border: 1px solid #f00;

        font-family: 'Roboto';

        &.neutral {
          $c: m.lch(50, 0, 0);

          color: m.mix($c, #f4f4f4, 80%);
          border-color: m.mix($c, #f4f4f4, 50%);
          background-color: #f4f4f4;

          box-shadow: 0 2px 2px -2px m.lch(80, 0, 0);

          &:hover {
            border-color: m.mix($c, #f4f4f4, 90%);
          }

          &.down {
            background-color: #f0f0f0;
          }
        }

        &.include {
          $c: 40;
          $h: shared.$include-filter-hue;

          color: m.lch(40, $c, $h);
          border-color: m.mix(m.lch(40, $c, $h), #f4f4f4, 60%);
          background: linear-gradient(
            m.mix(m.lch(70, $c, $h), #f4f4f4, 70%),
            m.mix(m.lch(80, $c, $h), #f4f4f4, 70%)
          );

          box-shadow: 0 2px 2px -2px m.lch(60, $c, $h);

          &:hover {
            border-color: m.mix(m.lch(40, $c, $h), #f4f4f4, 90%);
          }

          &.down {
            background: linear-gradient(
              m.mix(m.lch(70, $c, $h), #f4f4f4, 80%),
              m.mix(m.lch(80, $c, $h), #f4f4f4, 80%)
            );
          }
        }

        &.exclude {
          $c: 40;
          $h: shared.$exclude-filter-hue;

          color: m.lch(40, $c, $h);
          border-color: m.mix(m.lch(40, $c, $h), #f4f4f4, 60%);
          background: linear-gradient(
            m.mix(m.lch(80, $c, $h), #f4f4f4, 70%),
            m.mix(m.lch(70, $c, $h), #f4f4f4, 70%)
          );

          box-shadow: 0 2px 2px -2px m.lch(60, $c, $h);

          &:hover {
            border-color: m.mix(m.lch(40, $c, $h), #f4f4f4, 90%);
          }

          &.down {
            background: linear-gradient(
              m.mix(m.lch(80, $c, $h), #f4f4f4, 80%),
              m.mix(m.lch(70, $c, $h), #f4f4f4, 80%)
            );
          }
        }

        transition: transform 50ms ease-out;

        &.down {
          transform: translateY(3px);
        }
      }
    }

    .left {
      grid-area: left;
      box-sizing: border-box;


      display: flex;
      flex-direction: column;
      align-items: flex-start;

      margin: 1em;
      margin-right: 0;
      padding-right: 6px;

      overflow-y: scroll;
    }

    .right {
      margin: 1em;
      margin-left: 0;

      grid-area: right;
      box-sizing: border-box;
      display: grid;
    }
  }
}

.filterSelector {
  display: flex;
  flex-direction: column;

  & *:first-child > button, & > button:first-child {
    border-top: 1px solid #aaa;
    border-top-left-radius: 3px;
  }

  & *:last-child > button, & > button:last-child {
    border-bottom-left-radius: 3px;
  }

  & *:last-child > button, & > button:last-child {
    @include shared.input-shadow;
  }

  button {
    @include shared.reset-button;
    @include shared.input-padding(1.5);
    @include shared.input-color;
    font-family: "Roboto", sans-serif;

    display: flex;
    align-items: center;

    text-align: left;

    color: #888;

    background-color: #f8f8f8;

    border-bottom: 1px solid #aaa;

    margin-left: 0.5em;
    border-left: 1px solid #aaa;

    .label {
      display: inline-block;
      transition: margin-left 100ms ease-out;

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &:active .label {
      margin-left: -6px;
    }

    &:hover, &:active {
      background-color: #f4f4f4;
    }

    &.selected {
      color: #666;
      font-weight: 500;
      background-color: #f0f0f0;

      &:hover {
        background-color: #ececec;
      }

      .label {
        margin-left: 1em;
      }
    }

    .indicator {
      display: flex;
      place-items: center;
      place-content: center;

      opacity: 0.8;

      margin-left: auto;
      font-weight: normal;
      font-size: 0.9em;

      border-radius: 1em;
      height: 1em;
      min-width: 1em;
      padding: 0 0.5ex;

      &.orange { @include shared.badge-like(shared.$orange-hue); }
      &.green { @include shared.badge-like(shared.$green-hue); }
      &.red { @include shared.badge-like(shared.$red-hue); }

      .text {
        font-size: 0.9em;
      }

      &.small {
        font-size: 0.7em;
        padding: 0;
      }
    }

    &.selected .indicator {
      opacity: 1;
    }
  }
}
