@use "./shared";
@use "~@johv/sass-labmix" as m;

.buttonContainer {
  @include shared.button-background-container;

  .button {
    @include shared.reset-button;

    @include shared.input-padding;
    @include shared.input-color;
    @include shared.input-shadow;
    @include shared.input-border;
    @include shared.input-hover;

    @include shared.button-text;
    @include shared.button-press-transform;

    min-width: 4em;

    &.magenta {
      @include shared.button-color(shared.$branding-hue);
    }
  }
}

.badge {
  font-size: 0.75em;
  border-radius: 3px;

  padding: 0 (shared.$padding-x * 0.5);

  &.green { @include shared.badge-like(shared.$green-hue); }
  &.orange { @include shared.badge-like(shared.$orange-hue); }
  &.project { @include shared.badge-like(shared.$project-hue); }
  &.red { @include shared.badge-like(shared.$red-hue); }
  &.grey {
    border: 1px solid m.lch(60, 0, 0);
    background: linear-gradient(to top, m.lch(93, 0, 0), m.lch(95, 0, 0));
    color: m.lch(50, 0, 0);
    box-shadow: 0 2px 0px -1px m.lch(93, 0, 0);
    font-family: 'Roboto Condensed';
  }
}

.iconLabel {
  display: grid;
  grid-template: "icon text" 1fr / auto 1fr;
  flex-direction: row;
  align-items: center;
  column-gap: 0.25em;

  &.extraSpace {
    column-gap: 0.5em;
  }

  .icon {
    grid-area: icon;
    flex: 1;
    opacity: 0.9;
  }
}
