@use "./shared";

.buttonContainer {
  @include shared.button-background-container;

  .button {
    @include shared.reset-button;

    @include shared.input-padding;
    @include shared.input-color;
    @include shared.input-shadow;
    @include shared.input-border;
    @include shared.input-hover;

    @include shared.button-text;
    @include shared.button-press-transform;

    min-width: 4em;

    &.magenta {
      @include shared.button-color(shared.$branding-hue);
    }
  }
}

.badge {
  font-size: 0.75em;
  border-radius: 3px;

  padding: 0 (shared.$padding-x * 0.5);

  &.green { @include shared.badge-like(shared.$green-hue); }
  &.orange { @include shared.badge-like(shared.$orange-hue); }
  &.project { @include shared.badge-like(shared.$project-hue); }
  &.red { @include shared.badge-like(shared.$red-hue); }
}

.iconLabel {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.25em;

  .icon {
    opacity: 0.9;
  }
}
